:root {
  --body-bg-color: #1f0d18;
  --text-color: #ffffff;
  --bg-cards: #4c253d;
  --bg-techs: #22b09b;
}

body{
  background-color: #1f0d18;
  font-family: "montserrat", sans-serif;
  margin: 30px;
  
}

ul{
  list-style-type: none;
  margin: auto;
  padding: 5px;
}

li {
  margin-bottom: 25px;
}

.svg-image {
  filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(255deg) brightness(104%) contrast(105%);
}

.svg-image:hover {
  filter: invert(48%) sepia(91%) saturate(348%) hue-rotate(122deg) brightness(100%) contrast(93%);
}

.h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: #ffffff;
}

.h2{
  font-weight: 700;
font-size: 20px;
line-height: 25px;
color: #ffffff;

}

.h3 {
  font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
  color: #ffffff;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 348px;
  word-wrap: break-word;
  background-color: #4c253d;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
}

.card-img {
width: 128px;
height: 128px;
margin: auto;
margin-top: 20px;
}


.badge {
  display: inline-block;
  padding: 5px 15px;
  font-size: 75%;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bg-primary {
  margin-bottom: 10px;
  color: #1f0d18;
  background-color: #22b09b !important;
}


.bg-primary:hover {
  margin-bottom: 10px;
  color: #22b09b;
  background-color: #1f0d18 !important;
}

.gride-skill {
  margin-top: 30px;
  margin-left: -25px;
}

.accordion {
  position: absolute;
  width: 952px;
  top: 40px;
}


.btn-link {
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.btn-link:hover {
  font-weight: 400;
  color: #22b09b;
  text-decoration: none;
}

