:root {
  --body-bg-color: #0d1117;
  --text-color: #c9d1d9;
  --bg-cards: #4c253d;
  --bg-techs: #22b09b;
}

body{
  background:#0d1117;
  font-family: "montserrat", sans-serif;
  
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0px;
}

ul{
  list-style-type: none;
  margin: auto;
  padding: 5px;
}

li {
  padding: 10px 0px;
}

.svg-image {
  filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(255deg) brightness(104%) contrast(105%);
}

.svg-image:hover {
  filter: invert(48%) sepia(91%) saturate(348%) hue-rotate(122deg) brightness(100%) contrast(93%);
}

.h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: #c9d1d9;
}

.h2{
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #c9d1d9;

}

.h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #c9d1d9;
}

.h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #c9d1d9;
}

.card {
  font-size: 14px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #21262d;
  background-clip: border-box;
  border-radius: 10px;
  border: 1px solid #21262d; 
  border-top: 1px solid #21262d;
  border-color: #30363d;
  
}

.card-img {
width: 200px;
height: 200px;
margin: auto;
margin-top: 20px;
}


.badge {
  display: inline-block;
  padding: 5px 15px;
  font-size: 75%;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bg-primary {
  margin-bottom: 10px;
  color: #0d1117;
  background-color: #22b09b !important;
  border: 1px solid #21262d; 
  border-top: 1px solid #21262d;
  border-color: #30363d;
}


.bg-primary:hover {
  margin-bottom: 10px;
  color: #22b09b;
  background-color: #0d1117 !important;
}

.gride-skill {
  margin-top: 30px;
  margin-left: -25px;
}

.accordion {
  top: 40px;
}


.btn-link {
  font-weight: 400;
  color: #c9d1d9;
  text-decoration: none;
}

.btn-link:hover {
  font-weight: 400;
  color: #22b09b;
  text-decoration: none;
}

.card-img, .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ul-skill-project {
  list-style-type:circle;
  margin:0;
}

.li-skill-project {
  padding: 0;
  text-align: left;
}

::marker {
  font-size: 25px;
  align-items: center;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: transparent;
  border-radius: 0.25rem;
  border: 1px solid #21262d; 
  border-top: 1px solid #21262d;
  border-color: #30363d;
  margin: 5px 0px;

}

.bg-bar {
  background-color: #22b09b;
}

.ajust-margin {
  padding-right: 0px;
}

.ajust-margin-prog {
  padding-left: 15px;
}